<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Order</title>
  </head>
  <body style="background-color: #272727; color: white; font-family: Arial, sans-serif; font-size: 16px">
    <div class="max-width: 800px; margin: 0 auto; padding: 20px; border-radius: 10px;">
      <h1>Ваше замовлення № <%= orderNum %></h1>
      <p>Інформація про доставку:</p>
      <p>Адреса доставки:</p>
      <ul>
        <li>Ім'я: <%= deliveryAddress.firstName %></li>
        <li>Прізвище: <%= deliveryAddress.lastName %></li>
        <li>Номер телефону: <%= deliveryAddress.phoneNumber %></li>
        <li>Вулиця: <%= deliveryAddress.street %></li>
        <li>Місто: <%= deliveryAddress.city %></li>
        <li>Будинок: <%= deliveryAddress.homeNumber %></li>
        <li>Поштовий індекс: <%= deliveryAddress.postCode %></li>
        <li>Додаткова інформація: <%= deliveryAddress.additionalInfo %></li>
      </ul>
      <p>Тип доставки: <%= deliveryType %></p>
      <p>Дата замовлення: <%= orderDate.toLocaleString() %></p>

      <h2>Товари</h2>
      <table style="width: 100%; border-collapse: collapse">
        <thead>
          <tr>
            <th
              style="
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid white;
                color: #f6d413;
                font-weight: 600;
              "
            >
              Назва
            </th>
            <th
              style="
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid white;
                color: #f6d413;
                font-weight: 600;
              "
            >
              Ціна
            </th>
            <th
              style="
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid white;
                color: #f6d413;
                font-weight: 600;
              "
            >
              Розміри та кількість
            </th>
            <th
              style="
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid white;
                color: #f6d413;
                font-weight: 600;
              "
            >
              Зображення
            </th>
          </tr>
        </thead>
        <tbody>
          <% for (const productId in paymentVariants) { %> <% const product = paymentVariants[productId]; %>
          <tr>
            <td style="padding: 10px; text-align: left; border-bottom: 1px solid white">
              <%= product.name + product.subTitle %>
            </td>
            <td style="padding: 10px; text-align: left; border-bottom: 1px solid white">
              <%= product.price %> <%= product.currency %>
            </td>
            <td style="padding: 10px; text-align: left; border-bottom: 1px solid white">
              <% for (const size in product.sizes) { %> <%= size %> - <%= product.sizes[size].quantity %><br />
              <% } %>
            </td>
            <td style="padding: 10px; text-align: left; border-bottom: 1px solid white">
              <img src="<%= product.image %>" alt="<%= product.name %>" width="100" />
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>

      <p>Загальна сума замовлення: <%= totalPrice %> <%= currency %></p>
      <p>Загальна кількість товарів: <%= totalCount %></p>
    </div>
  </body>
</html>
